/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/montserrat/montserrat-v13-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
  url('../fonts/montserrat/montserrat-v13-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat/montserrat-v13-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat/montserrat-v13-latin-200.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat/montserrat-v13-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat/montserrat-v13-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat/montserrat-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
  url('../fonts/montserrat/montserrat-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat/montserrat-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat/montserrat-v13-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat/montserrat-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat/montserrat-v13-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat/montserrat-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/montserrat/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat/montserrat-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat/montserrat-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat/montserrat-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat/montserrat-v13-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat/montserrat-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url('../fonts/montserrat/montserrat-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat/montserrat-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat/montserrat-v13-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat/montserrat-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat/montserrat-v13-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat/montserrat-v13-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
  url('../fonts/montserrat/montserrat-v13-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat/montserrat-v13-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat/montserrat-v13-latin-800.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat/montserrat-v13-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat/montserrat-v13-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/montserrat/montserrat-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Black'), local('Montserrat-Black'),
  url('../fonts/montserrat/montserrat-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat/montserrat-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat/montserrat-v13-latin-900.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat/montserrat-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat/montserrat-v13-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}