@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
/** SPACE
===================================*/
$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.title-md {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 1.7rem;
  line-height: 1.3em;
}

.title-xs {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1.3em;
}

.title-lg-lt {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  font-size: 43px;
  font-weight: 300;
  margin-bottom: 1.2rem;
  line-height: 1.2em;

  @media screen and (min-width: 62em) {
      font-size: 60px;
      margin-bottom: 1.1rem;
  }
}

.title-md {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  line-height: 1.3em;
}


.link-arrow {
  display: inline-block;
  width: 72px;
  vertical-align: top;
  position: relative;
  transition: all .2s ease;

  &:hover {
    text-decoration: none;
    right: -1px;
  }
}

.bg-grey-fixed {
    background-color: #f5f6f7;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*Form*/

.label-form {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.form-control {
  &:focus {
    box-shadow: none;
    outline: 0;
  }
}
.form-control--lg {
    height: 52px;
    border-radius: 0;
    border: 1px solid #e9e9e9;
    background-color: #fafafa;
}

.btn--blue {
  background-color: #4194de;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 0;
  padding: 12px 25px;
  transition: all .2s ease;

  &:hover {
    background-color: #5fcf72;
    color: white;
    text-decoration: none;
  }
}