
.thanks-aside {
    padding: 2.5rem 0;
    position: relative;
    z-index: 1;
    @media screen and (min-width: 62em) {
        padding: 6rem 0;
    }
}

.thanks-logo {
    margin-bottom: 3rem;
    text-align: center;
    
    @media screen and (min-width: 62em) {
        margin-bottom: 5rem;
    }
    img {
        max-width: 188px;
    }
}

.thanks-aside__content {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.aside-bg-bubble {
    position: relative;
    z-index: -1;
    display: none;

    @media screen and (min-width: 62em) {
        display: block;
    }

    img {
        width: 350px;
        position: absolute;
        right: -60px;
        top: -2rem;
    }
}

.thanks-rt {
    background-color: white;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        right: -100%;
        background-color: white;

        top: 0;
        width: 100%;
        height: 100%;
    }
}

.bg-bubble-yellow {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    background-image: url('../images/bg-bubble-yellow.png');
    background-size: 100px auto;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100px;
    height: 156px;

    @media screen and (min-width: 62em) {
        max-width: 200px;
        background-size: 200px auto;
    }
}

.thanks-rt {
    padding: 2.5rem 1.5rem;
    overflow: hidden;
    @media screen and (min-width: 62em) {
        padding: 6.7rem 2rem 6rem 7rem; 
    }
}

.usernumbs__item {
    display: inline-block;
    position: relative;

    input[type="radio"] {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    label {
        font-weight: 400;
        font-size: 14px;
        background-color: white;
        border: 1px solid #e9e9e9;
        padding: 9px 19px;
        display: inline-block;
        margin-bottom: 18px;
        cursor: pointer;
        margin-right: 2px;
        
        @media screen and (min-width: 62em) {
            margin-right: 17px
        }
    }


}

:checked + label {
    border-color: #4194df;
    background-color: #e8f4ff;
}

.webinar-head {
    background-color: #f5f6f7;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media screen and (min-width: 62em) {
        min-height: 200px;
        padding-top: 2.5rem;
    }
}

.logo-xs {
    max-width: 144px;
}

.article-webinar {
    margin-bottom: 3rem;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            background: transparent url('../images/list-bg.png') 0 3px no-repeat;
            background-size: 20px auto;
            padding-left: 30px;
            margin-bottom: 13px;
        }
    }
}


/*Tenats*/
.tenants {
    background: #fff url('../images/pattern.png') 0 0 repeat;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.tenan__item {
    margin: 0 1.3rem 0.7rem;
}

.speakers {
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    z-index: 5;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4278a6+0,2c4962+61,2c4962+100 */
background: #4278a6; /* Old browsers */
background: -moz-linear-gradient(top,  #4278a6 0%, #2c4962 61%, #2c4962 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4278a6 0%,#2c4962 61%,#2c4962 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4278a6 0%,#2c4962 61%,#2c4962 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4278a6', endColorstr='#2c4962',GradientType=0 ); /* IE6-9 */
    @media screen and (min-width: 62em) {
        padding-top: 7rem;
    padding-bottom: 7rem;
    }
}

.bg-circle-blue {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    max-width: 400px;
    height: 390px;
    background: transparent url('../images/bg-bubble-blue.png')  0 0 no-repeat;
    background-size: 400px auto;

}

.speaker__item {
    overflow: hidden;
    margin-bottom: 3rem;

    @media screen and (min-width: 62em) {
        padding-right: 4rem;
    }
}

.speaker__img {
    margin: 0 auto 10px;
    max-width: 127px;
    overflow: hidden;

    @media screen and (min-width: 48em) {
        margin: 0;
        margin-right: 25px;
        float: left;
    }
}

.speaker__desc {
    overflow: hidden;
}

.speaker__name {
    display: block;
    font-size: 21px;
    font-weight: 600;
    color: white;

    a {
        color: white;
        &:hover {
            opacity: 0.8;
            text-decoration: underline;
        }
    }
}

.speaker__position {
    display: block;
    font-style: italic;
}

/* Spread the word*/

.spreatewo {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.spreatewo__btns {
    margin-top: 2rem;

    .btn--iconx {
        min-width: 155px;
    }
}

.btn--iconx {
    border: 1px solid #8e8e8e;
    background-color: white;
    border-radius: 5px;
    margin: 0 5px 8px;
    text-transform: uppercase;
    font-size: 11px;
    transition: all .1s linear;

    &:hover {
        color: white;
        border-color: transparent;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#66b46f+0,4d91c9+100 */
            background: #66b46f; /* Old browsers */
            background: -moz-linear-gradient(left,  #66b46f 0%, #4d91c9 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  #66b46f 0%,#4d91c9 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  #66b46f 0%,#4d91c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b46f', endColorstr='#4d91c9',GradientType=1 ); /* IE6-9 */

    }

    .btn--iconx__faws {
        margin-right: 3px;
    }
}

/*Form Webinar */
.frwebinar {
    background: #66b46f; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #66b46f 0%, #66b46f 58%, #4f94ba 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #66b46f 0%,#66b46f 58%,#4f94ba 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #66b46f 0%,#66b46f 58%,#4f94ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b46f', endColorstr='#4f94ba',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;

    small {
        color: white;
        font-weight: 300;
    }

    .form-group {
        margin-bottom: 1.3rem;
    }

    @media screen and (min-width: 62em) {
        max-width: 470px;
        margin-left: auto;
        display: flex;
        margin-top: -12rem;
    }
}

.frwebinar__in {
    padding: 2rem 1rem;
   @media screen and (min-width: 48em) {
        padding: 2rem;
   }
}

.frwebinar__label {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0.7rem;
    font-family: 'Montserrat', sans-serif;
}

.frwebinar__head {
    background-color: rgba( #000000, 0.1);
    padding: 2rem 1rem;
   @media screen and (min-width: 48em) {
        padding: 2rem;
   }
}

.form-control--lgwhite {
    border-radius: 0;
    border: 1px solid #e9e9e9;
    height: 48px;
}

.bg-circle-grey {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    background: transparent url('../images/bg-bubble-grey.png') 0 0 no-repeat;
    background-size: 230px auto;
    width: 100%;
    max-width: 230px;
    height: 328px;

    @media screen and (min-width: 62em) {
        display: block;
    }
 
}

.form-group-arrow {
    position: relative;

    .form-control {
        padding-right: 30px;
    }

    .fa-caret-down {
        position: absolute;
        right: 13px;
        top: 15px;
        z-index: 0;
    }
}