header{
  background: $white;
  .header__login{
    background: #57606b;
    width: 100%;
    padding: 10px 0;
    color: $white;
    ul{
      padding: 0;
      margin: 0;
      text-align: right;
      li{
        list-style: none;
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid $white;
        line-height: 14px;
        &:last-child{
          border-right: 0;
          padding-right: 0;
          padding-left: 5px;
        }
        a{
          color: $white;
        }
      }
    }
  }
  .header__main{
    padding: 15px 0;
  }
  .header__logo{}
}
footer{
  ul{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      display: inline-block;
    }
  }
}