@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,600i,700,700i,800,900");
/* @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/montserrat/montserrat-v13-latin-200.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../fonts/montserrat/montserrat-v13-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v13-latin-200.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v13-latin-200.woff") format("woff"), url("../fonts/montserrat/montserrat-v13-latin-200.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v13-latin-200.svg#Montserrat") format("svg");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat/montserrat-v13-latin-300.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserrat/montserrat-v13-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v13-latin-300.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v13-latin-300.woff") format("woff"), url("../fonts/montserrat/montserrat-v13-latin-300.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v13-latin-300.svg#Montserrat") format("svg");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-v13-latin-regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat/montserrat-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v13-latin-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v13-latin-regular.woff") format("woff"), url("../fonts/montserrat/montserrat-v13-latin-regular.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v13-latin-regular.svg#Montserrat") format("svg");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat/montserrat-v13-latin-500.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/montserrat/montserrat-v13-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v13-latin-500.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v13-latin-500.woff") format("woff"), url("../fonts/montserrat/montserrat-v13-latin-500.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v13-latin-500.svg#Montserrat") format("svg");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat/montserrat-v13-latin-800.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/montserrat/montserrat-v13-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v13-latin-800.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v13-latin-800.woff") format("woff"), url("../fonts/montserrat/montserrat-v13-latin-800.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v13-latin-800.svg#Montserrat") format("svg");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat/montserrat-v13-latin-900.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/montserrat/montserrat-v13-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v13-latin-900.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v13-latin-900.woff") format("woff"), url("../fonts/montserrat/montserrat-v13-latin-900.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v13-latin-900.svg#Montserrat") format("svg");
} */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
body {
  font-size: 16px;
  line-height: 1.6em;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

a {
  text-decoration: none; }

section {
  padding: 60px 0; }

header {
  background: #fff; }

header .header__login {
  background: #57606b;
  width: 100%;
  padding: 10px 0;
  color: #fff; }

header .header__login ul {
  padding: 0;
  margin: 0;
  text-align: right; }

header .header__login ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #fff;
  line-height: 14px; }

header .header__login ul li:last-child {
  border-right: 0;
  padding-right: 0;
  padding-left: 5px; }

header .header__login ul li a {
  color: #fff; }

header .header__main {
  padding: 15px 0; }

footer ul {
  padding: 0;
  margin: 0; }

footer ul li {
  list-style: none;
  display: inline-block; }

.is-stick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.navbar-light .navbar-nav .nav-link {
  padding: 0 35px; }

.navbar {
  padding: 1.5rem 1rem; }

.owl-carousel .owl-item {
  -webkit-backface-visibility: visible;
  backface-visibility: visible; }

.owl-carousel .owl-item img {
  -webkit-transform-style: flat;
  transform-style: flat; }

#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;
  background-image: -webkit-gradient(linear, left top, right top, from(#4fc868), to(#37a1d9));
  background-image: -webkit-linear-gradient(left, #4fc868 0%, #37a1d9 100%);
  background-image: -o-linear-gradient(left, #4fc868 0%, #37a1d9 100%);
  background-image: linear-gradient(to right, #4fc868 0%, #37a1d9 100%); }

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 5;
  border: 4px solid #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease; }

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }

@keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }

.header__main {
  position: relative; }

.header__main .header__logo {
  margin-right: 50px; }

.header__main .navbar-light .navbar-nav .nav-link {
  padding: 10px 15px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.header__main .navbar-light .navbar-nav .nav-link.btn__demo {
  background-color: #4796db;
  padding: 10px 15px;
  color: #fff;
  font-weight: 600;
  margin-left: 15px;
  -webkit-box-shadow: 0 0 20px #4796db45;
  box-shadow: 0 0 20px #4796db45;
  text-align: center; }

.header__main .navbar-light .navbar-nav .nav-link.btn__demo:hover {
  background-color: #298ce2; }

#headline-section {
  padding: 120px 0;
  position: relative; }

#headline-section .container {
  max-width: 1020px; }

#headline-section h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
  font-weight: 600; }

#headline-section h1 small {
  display: block;
  font-size: 33px;
  font-weight: 400;
  margin-bottom: 20px; }

#main-hero-section {
  position: relative;
  padding: 195px 0 120px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4fc868), to(#37a1d9));
  background-image: -webkit-linear-gradient(left, #4fc868 0%, #37a1d9 100%);
  background-image: -o-linear-gradient(left, #4fc868 0%, #37a1d9 100%);
  background-image: linear-gradient(to right, #4fc868 0%, #37a1d9 100%); }

#main-hero-section::before {
  content: '';
  background-image: url(../images/border-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

#main-hero-section::after {
  content: '';
  background-image: url(../images/dashed-line.png);
  background-repeat: repeat-y;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: .7; }

#main-hero-section .desc-hero {
  position: relative;
  display: block;
  z-index: 2; }

#main-hero-section .desc-hero h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 70px;
  color: #fff; }

#main-hero-section .desc-hero h1 small {
  font-weight: 400;
  font-size: 33px; }

#main-hero-section .desc-hero h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 33px;
  color: #fff; }

#main-hero-section .desc-hero a {
  font-size: 33px;
  color: #fff;
  border-bottom: 2px solid #fff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

#main-hero-section .desc-hero a:hover,
#main-hero-section .desc-hero a:focus {
  color: #faca2e;
  border-bottom: 2px solid #faca2e; }

#main-hero-section .desc-hero p {
  font-size: 17px;
  color: #fff;
  margin-bottom: 0; }

#goals-section {
  padding: 120px 0; }

.main-title {
  display: block;
  text-align: center;
  margin-bottom: 80px; }

.main-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 20px; }

.main-title span {
  font-size: 28px;
  font-weight: 400; }

.desc-goals {
  margin-bottom: 30px; }

.desc-goals p {
  font-size: 20px; }

.accordion-goals {
  position: relative; }

.accordion-goals .card {
  border: 0;
  border-radius: 0; }

.accordion-goals .card .card-header {
  padding: 0;
  margin: 0 0 20px;
  border-radius: 0;
  position: relative;
  background-color: transparent;
  border-bottom: 0; }

.accordion-goals .card .card-header .btn {
  color: #000;
  font-size: 27px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  text-align: left;
  display: block;
  border: none;
  border-radius: 0; }

.accordion-goals .card .card-header .btn::before {
  content: '';
  height: 3px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#4fc868), to(#37a1d9));
  background-image: -webkit-linear-gradient(left, #4fc868 0%, #37a1d9 100%);
  background-image: -o-linear-gradient(left, #4fc868 0%, #37a1d9 100%);
  background-image: linear-gradient(to right, #4fc868 0%, #37a1d9 100%);
  position: absolute;
  bottom: 0;
  left: 0; }

.accordion-goals .card .card-header .btn.collapsed::before {
  background-image: -webkit-gradient(linear, left top, right top, from(#eaeaea), to(#eaeaea));
  background-image: -webkit-linear-gradient(left, #eaeaea 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(left, #eaeaea 0%, #eaeaea 100%);
  background-image: linear-gradient(to right, #eaeaea 0%, #eaeaea 100%); }

.accordion-goals .card .card-body {
  padding: 0;
  margin-bottom: 40px; }

.accordion-goals .card .card-body p {
  font-size: 20px; }

.accordion-goals .card .card-body .recommended {
  margin-top: 20px; }

.accordion-goals .card .card-body .recommended p {
  margin-bottom: 5px; }

.accordion-goals .card .card-body .recommended a {
  color: #0054a6;
  font-size: 20px; }

#plan-section {
  width: 100%;
  padding: 120px 0;
  background-color: #38485c; }

#plan-section .main-title h2,
#plan-section .main-title span {
  color: #fff; }

.nav-plan {
  display: block; }

.nav-plan a {
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 12px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.nav-plan a.active,
.nav-plan a.active strong {
  font-weight: 400;
  background-color: transparent !important;
  text-shadow: 1px 0 0 #fff; }

.nav-plan a span {
  font-size: 20px;
  width: 42px;
  height: 42px;
  display: inline-block;
  border: 1px solid #fff;
  text-align: center;
  line-height: 42px;
  border-radius: 50px;
  margin-right: 15px;
  -webkit-box-shadow: inset 0 0 0 0 #f1c15f;
  box-shadow: inset 0 0 0 0 #f1c15f;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.nav-plan a strong {
  display: inline-block;
  font-weight: 400; }

.nav-plan a:hover span,
.nav-plan a.active span {
  border: 1px solid #f1c15f;
  -webkit-box-shadow: inset 0 0 0 5px #f1c15f;
  box-shadow: inset 0 0 0 5px #f1c15f; }

.tab-content-plan {
  position: relative;
  height: 100%;
  border-left: 2px solid #8398b2;
  padding: 80px; }

.tab-content-plan .desc-plan {
  position: relative; }

.m-hide {
  display: block; }

.d-hide {
  display: none; }

.tab-content-plan .desc-plan p {
  font-size: 20px;
  color: #fff; }

#team-section {
  width: 100%;
  padding: 120px 0; }

.team-slider {
  display: block; }

.team-slider .team__slider {
  overflow: hidden; }

.team-slider .team__slider .slick-slider {
  padding: 0;
  margin-left: -20px;
  margin-right: -20px; }

.team-slider .team__slider .slick-slider .slick-slide {
  padding: 20px;
  outline: none; }

.team-slider .team__slider .slick-slider .slick-slide .team__item {
  position: relative;
  overflow: hidden; }

.team-slider .team__slider .slick-slider .slick-slide .team__item img {
  width: 100%; }

.team-slider .team__slider .slick-slider .slick-slide .team__item .team__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9912ceb;
  padding: 20px;
  -webkit-transform: translateY(280px);
  -ms-transform: translateY(280px);
  transform: translateY(280px);
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.team-slider .team__slider .slick-slider .slick-slide:hover .team__item .team__desc {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

.team-slider .team__slider .slick-slider .slick-slide .team__item .team__desc h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #fff; }

.team-slider .team__slider .slick-slider .slick-slide .team__item .team__desc span {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff; }

.team-slider .team__slider .slick-slider .slick-slide .team__item .team__desc a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
  margin-top: 10px; }

.btn-schedule {
  background-color: #4796db;
  font-size: 18px;
  padding: 18px 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0 0 20px #4796db45;
  box-shadow: 0 0 20px #4796db45; }

.btn-schedule:hover {
  text-decoration: none;
  color: #fff;
  background-color: #298ce2; }

footer {
  border-top: 1px solid #e6e6e6; }

footer .footer__top {
  padding: 100px 0; }

footer .footer__top .widget.widget__about {
  display: block; }

footer .footer__top .widget.widget__about a {
  max-width: 160px;
  display: block;
  margin-bottom: 40px; }

footer .footer__top .widget.widget__about p {
  font-size: 15px;
  font-weight: 600; }

footer .footer__top .widget.widget__about p i {
  width: 24px;
  color: #94a4af; }

footer .footer__top .widget.widget__link {
  position: relative; }

footer .footer__top .widget.widget__link h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px; }

footer .footer__top .widget.widget__link ul {
  position: relative; }

footer .footer__top .widget.widget__link ul li {
  display: block;
  margin-bottom: 10px; }

footer .footer__top .widget.widget__link ul li:last-child {
  margin-bottom: 0; }

footer .footer__top .widget.widget__link ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #717171; }

footer .footer__bottom {
  background-color: #f5e872;
  padding: 30px 0; }

footer .footer__bottom .second__link {
  position: relative; }

footer .footer__bottom .second__link li {
  display: inline-block;
  margin-right: 15px; }

footer .footer__bottom .second__link li:last-child {
  margin-right: 0; }

footer .footer__bottom .second__link li a {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #000; }

footer .footer__bottom .social__link {
  position: relative; }

footer .footer__bottom .social__link li {
  display: inline-block;
  margin-left: 20px; }

footer .footer__bottom .social__link li:first-child {
  margin-left: 0; }

footer .footer__bottom .social__link li a {
  font-size: 24px;
  color: #5e6860;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

footer .footer__bottom .social__link li a:hover {
  color: #222222; }

.header__main,
.navbar {
  -webkit-transition: padding .3s ease;
  -o-transition: padding .3s ease;
  transition: padding .3s ease; }

.navbar {
  padding: 1.5rem 0; }

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  -webkit-box-shadow: 1px 0px 20px #0000000a;
  box-shadow: 1px 0px 20px #0000000a; }

.fixed-header .header__main {
  padding: 0 0; }

.fixed-header .navbar {
  padding: .625rem 0; }

.fixed-header .dropdown-menu {
  top: 45px; }

.fixed-header .megamenu .megamenu__content {
  top: 68px; }

.fixed-header + #headline-section {
  padding: 213px 0 120px; }

.dropdown-menu {
  top: 45px;
  -webkit-box-shadow: 0 0 20px #0000000f;
  box-shadow: 0 0 20px #0000000f;
  border: none;
  padding: 0;
  margin: 0; }

.dropdown-item {
  font-size: 14px;
  padding: .625rem 1.5rem; }

.dropdown-item:active {
  background-color: #66b46f; }

.megamenu {
  display: block; }

.megamenu .megamenu__content {
  width: 100%;
  min-width: 100%;
  padding: 40px;
  -webkit-box-shadow: 0 0 20px #0000000f;
  box-shadow: 0 0 20px #0000000f;
  border: none;
  top: 78px; }

.megamenu .megamenu__content .megamenu__box h5 {
  font-size: 18px;
  font-weight: 700;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #f6f6f6; }

.megamenu .megamenu__content .megamenu__box ol {
  padding: 0;
  margin: 20px 0;
  list-style: none; }

.megamenu .megamenu__content .megamenu__box ol li {
  display: block;
  margin-bottom: 8px; }

.megamenu .megamenu__content .megamenu__box ol li:last-child {
  margin-bottom: 0; }

.megamenu .megamenu__content .megamenu__box ol li a {
  font-size: 14px;
  display: block;
  color: #7b7b7b; }

.megamenu .megamenu__content .megamenu__box > a {
  display: inline-block;
  background: #4ec76a;
  color: #fff;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px #4ec76a70;
  box-shadow: 0 0 20px #4ec76a70;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.megamenu .megamenu__content .megamenu__box > a:hover {
  text-decoration: none;
  background: #51e473;
  -webkit-box-shadow: 0 0 20px #48e76d70;
  box-shadow: 0 0 20px #48e76d70; }

.navbar-toggler {
  border-color: transparent !important;
  color: #66b46f !important;
  padding: .625rem 1rem;
  font-size: 1.5rem;
  outline: none !important; }

.goals-img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; }
  .dropdown > .dropdown-menu,
  .megamenu > .dropdown-menu {
    display: block;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  .dropdown:hover > .dropdown-menu,
  .megamenu:hover > .dropdown-menu {
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .megamenu > .dropdown-toggle:active,
  .dropdown > .dropdown-toggle:active {
    pointer-events: none; } }

@media (max-width: 768px) {
  header {
    -webkit-box-shadow: 0 0 20px #00000008;
    box-shadow: 0 0 20px #00000008; }
  header .header__login {
    padding: 14px 0; }
  header .header__main {
    padding: 0 0; }
  header .header__login ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  header .header__login ul li {
    border-right: none;
    padding: 0 0; }
  .navbar,
  .fixed-header .navbar {
    padding: .625rem 0; }
  .navbar-collapse {
    margin-top: 20px; }
  .header__main .navbar-light .navbar-nav .nav-item {
    border-bottom: 1px solid #f6f6f6; }
  .header__main .navbar-light .navbar-nav .nav-item:last-child {
    border-bottom: 0 solid #f6f6f6; }
  .header__main .navbar-light .navbar-nav .nav-link {
    padding: 10px 0; }
  .header__main .navbar-light .navbar-nav .nav-link.btn__demo {
    margin-left: 0;
    margin-top: 15px; }
  .megamenu .megamenu__content {
    padding: 20px 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .megamenu .megamenu__content .megamenu__box {
    margin-bottom: 20px;
    text-align: center; }
  .megamenu .megamenu__content .megamenu__box ol {
    display: none; }
  .megamenu .megamenu__content .megamenu__box h5 {
    font-weight: 600; }
  .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .dropdown-item {
    font-size: 14px;
    padding: .625rem .625rem; }
  .fixed-header + #headline-section {
    padding: 143px 0 60px; }
  #headline-section,
  #goals-section,
  #plan-section,
  #team-section,
  footer .footer__top {
    padding: 60px 0; }
  #headline-section h1,
  .main-title h2 {
    font-size: 24px; }
  #main-hero-section {
    padding: 85px 0 60px; }
  #headline-section h1 small,
  #main-hero-section .desc-hero p {
    font-size: 14px; }
  #main-hero-section .desc-hero h1 {
    font-size: 28px; }
  .nav-plan a span {
    font-size: 14px;
    width: 32px;
    height: 32px;
    line-height: 32px; }
  .nav-plan a {
    font-size: 18px;
    margin-bottom: 6px; }
  #main-hero-section .desc-hero h3,
  #main-hero-section .desc-hero h1 small,
  #main-hero-section .desc-hero a {
    font-size: 18px; }
  .main-title {
    margin-bottom: 30px; }
  .main-title h2 {
    margin-bottom: 10px; }
  .main-title span {
    font-size: 16px; }
  .desc-goals {
    margin-top: 20px; }
  .desc-goals p,
  .accordion-goals .card .card-body p,
  .accordion-goals .card .card-body .recommended a,
  .tab-content-plan .desc-plan p {
    font-size: 14px; }
  .accordion-goals .card .card-header .btn {
    font-size: 18px;
    padding-bottom: 8px; }
  .btn-schedule {
    margin-top: 0; }
  .tab-content-plan {
    padding: 20px;
    margin-top: 30px;
    height: auto; }
  .tab-content-plan .desc-plan h5 {
    color: #fff; }
  footer .footer__top .widget.widget__about,
  footer .footer__top .widget.widget__link {
    margin-bottom: 40px; }
  footer .footer__top .widget.widget__about a {
    max-width: 200px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 485px) {
  #main-hero-section::before {
    height: 25px; }
  .nav-plan {
    text-align: center; }
  .nav-plan .nav-link {
    display: inline-block;
    padding: 0; }
  .nav-plan a:hover span,
  .nav-plan a.active span {
    -webkit-box-shadow: inset 0 0 0 2px #f1c15f;
    box-shadow: inset 0 0 0 2px #f1c15f; }
  .m-hide {
    display: none !important; }
  .d-hide {
    display: block; }
  footer .footer__bottom .second__link {
    text-align: center;
    margin-bottom: 30px; } }

/** SPACE
===================================*/
.space15 {
  height: 15px;
  display: block;
  width: 100%; }

.space20 {
  height: 20px;
  display: block;
  width: 100%; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space45 {
  height: 45px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

.title-md {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 1.7rem;
  line-height: 1.3em; }

.title-xs {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1.3em; }

.title-lg-lt {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  font-size: 43px;
  font-weight: 300;
  margin-bottom: 1.2rem;
  line-height: 1.2em; }
  @media screen and (min-width: 62em) {
    .title-lg-lt {
      font-size: 60px;
      margin-bottom: 1.1rem; } }

.title-md {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  line-height: 1.3em; }

.link-arrow {
  display: inline-block;
  width: 72px;
  vertical-align: top;
  position: relative;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
  .link-arrow:hover {
    text-decoration: none;
    right: -1px; }

.bg-grey-fixed {
  background-color: #f5f6f7;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

/*Form*/
.label-form {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700; }

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0; }

.form-control--lg {
  height: 52px;
  border-radius: 0;
  border: 1px solid #e9e9e9;
  background-color: #fafafa; }

.btn--blue {
  background-color: #4194de;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 0;
  padding: 12px 25px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
  .btn--blue:hover {
    background-color: #5fcf72;
    color: white;
    text-decoration: none; }

.thanks-aside {
  padding: 2.5rem 0;
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 62em) {
    .thanks-aside {
      padding: 6rem 0; } }

.thanks-logo {
  margin-bottom: 3rem;
  text-align: center; }
  @media screen and (min-width: 62em) {
    .thanks-logo {
      margin-bottom: 5rem; } }
  .thanks-logo img {
    max-width: 188px; }

.thanks-aside__content {
  font-size: 18px;
  font-weight: 300;
  text-align: center; }

.aside-bg-bubble {
  position: relative;
  z-index: -1;
  display: none; }
  @media screen and (min-width: 62em) {
    .aside-bg-bubble {
      display: block; } }
  .aside-bg-bubble img {
    width: 350px;
    position: absolute;
    right: -60px;
    top: -2rem; }

.thanks-rt {
  background-color: white;
  position: relative; }
  .thanks-rt:after {
    content: '';
    position: absolute;
    right: -100%;
    background-color: white;
    top: 0;
    width: 100%;
    height: 100%; }

.bg-bubble-yellow {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  background-image: url("../images/bg-bubble-yellow.png");
  background-size: 100px auto;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100px;
  height: 156px; }
  @media screen and (min-width: 62em) {
    .bg-bubble-yellow {
      max-width: 200px;
      background-size: 200px auto; } }

.thanks-rt {
  padding: 2.5rem 1.5rem;
  overflow: hidden; }
  @media screen and (min-width: 62em) {
    .thanks-rt {
      padding: 6.7rem 2rem 6rem 7rem; } }

.usernumbs__item {
  display: inline-block;
  position: relative; }
  .usernumbs__item input[type="radio"] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  .usernumbs__item label {
    font-weight: 400;
    font-size: 14px;
    background-color: white;
    border: 1px solid #e9e9e9;
    padding: 9px 19px;
    display: inline-block;
    margin-bottom: 18px;
    cursor: pointer;
    margin-right: 2px; }
    @media screen and (min-width: 62em) {
      .usernumbs__item label {
        margin-right: 17px; } }

:checked + label {
  border-color: #4194df;
  background-color: #e8f4ff; }

.webinar-head {
  background-color: #f5f6f7;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media screen and (min-width: 62em) {
    .webinar-head {
      min-height: 200px;
      padding-top: 2.5rem; } }

.logo-xs {
  max-width: 144px; }

.article-webinar {
  margin-bottom: 3rem; }
  .article-webinar ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .article-webinar ul li {
      background: transparent url("../images/list-bg.png") 0 3px no-repeat;
      background-size: 20px auto;
      padding-left: 30px;
      margin-bottom: 13px; }

/*Tenats*/
.tenants {
  background: #fff url("../images/pattern.png") 0 0 repeat;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem; }

.tenan__item {
  margin: 0 1.3rem 0.7rem; }

.speakers {
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 5;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4278a6+0,2c4962+61,2c4962+100 */
  background: #4278a6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4278a6 0%, #2c4962 61%, #2c4962 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4278a6 0%, #2c4962 61%, #2c4962 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#4278a6), color-stop(61%, #2c4962), to(#2c4962));
  background: -o-linear-gradient(top, #4278a6 0%, #2c4962 61%, #2c4962 100%);
  background: linear-gradient(to bottom, #4278a6 0%, #2c4962 61%, #2c4962 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4278a6', endColorstr='#2c4962',GradientType=0 );
  /* IE6-9 */ }
  @media screen and (min-width: 62em) {
    .speakers {
      padding-top: 7rem;
      padding-bottom: 7rem; } }

.bg-circle-blue {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  max-width: 400px;
  height: 390px;
  background: transparent url("../images/bg-bubble-blue.png") 0 0 no-repeat;
  background-size: 400px auto; }

.speaker__item {
  overflow: hidden;
  margin-bottom: 3rem; }
  @media screen and (min-width: 62em) {
    .speaker__item {
      padding-right: 4rem; } }

.speaker__img {
  margin: 0 auto 10px;
  max-width: 127px;
  overflow: hidden; }
  @media screen and (min-width: 48em) {
    .speaker__img {
      margin: 0;
      margin-right: 25px;
      float: left; } }

.speaker__desc {
  overflow: hidden; }

.speaker__name {
  display: block;
  font-size: 21px;
  font-weight: 600;
  color: white; }
  .speaker__name a {
    color: white; }
    .speaker__name a:hover {
      opacity: 0.8;
      text-decoration: underline; }

.speaker__position {
  display: block;
  font-style: italic; }

/* Spread the word*/
.spreatewo {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center; }

.spreatewo__btns {
  margin-top: 2rem; }
  .spreatewo__btns .btn--iconx {
    min-width: 155px; }

.btn--iconx {
  border: 1px solid #8e8e8e;
  background-color: white;
  border-radius: 5px;
  margin: 0 5px 8px;
  text-transform: uppercase;
  font-size: 11px;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .btn--iconx:hover {
    color: white;
    border-color: transparent;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#66b46f+0,4d91c9+100 */
    background: #66b46f;
    /* Old browsers */
    background: -moz-linear-gradient(left, #66b46f 0%, #4d91c9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #66b46f 0%, #4d91c9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#66b46f), to(#4d91c9));
    background: -o-linear-gradient(left, #66b46f 0%, #4d91c9 100%);
    background: linear-gradient(to right, #66b46f 0%, #4d91c9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b46f', endColorstr='#4d91c9',GradientType=1 );
    /* IE6-9 */ }
  .btn--iconx .btn--iconx__faws {
    margin-right: 3px; }

/*Form Webinar */
.frwebinar {
  background: #66b46f;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #66b46f 0%, #66b46f 58%, #4f94ba 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #66b46f 0%, #66b46f 58%, #4f94ba 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, #66b46f 0%, #66b46f 58%, #4f94ba 100%);
  background: linear-gradient(45deg, #66b46f 0%, #66b46f 58%, #4f94ba 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b46f', endColorstr='#4f94ba',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding-bottom: 1.5rem;
  margin-bottom: 3rem; }
  .frwebinar small {
    color: white;
    font-weight: 300; }
  .frwebinar .form-group {
    margin-bottom: 1.3rem; }
  @media screen and (min-width: 62em) {
    .frwebinar {
      max-width: 470px;
      margin-left: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: -12rem; } }

.frwebinar__in {
  padding: 2rem 1rem; }
  @media screen and (min-width: 48em) {
    .frwebinar__in {
      padding: 2rem; } }

.frwebinar__label {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.7rem;
  font-family: 'Montserrat', sans-serif; }

.frwebinar__head {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem; }
  @media screen and (min-width: 48em) {
    .frwebinar__head {
      padding: 2rem; } }

.form-control--lgwhite {
  border-radius: 0;
  border: 1px solid #e9e9e9;
  height: 48px; }

.bg-circle-grey {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  background: transparent url("../images/bg-bubble-grey.png") 0 0 no-repeat;
  background-size: 230px auto;
  width: 100%;
  max-width: 230px;
  height: 328px; }
  @media screen and (min-width: 62em) {
    .bg-circle-grey {
      display: block; } }

.form-group-arrow {
  position: relative; }
  .form-group-arrow .form-control {
    padding-right: 30px; }
  .form-group-arrow .fa-caret-down {
    position: absolute;
    right: 13px;
    top: 15px;
    z-index: 0; }

/*# sourceMappingURL=style.css.map */
