$primary-font: 'Montserrat', sans-serif;

$primary-color: #4194de;
$secondary-color: #ff9253;
$inherit-color: #ffffff;
$dark-blue : #323d4b;
$black : #323d4b;
$white : #ffffff;

$animated: all .3s ease-in-out;

$break-small: 480px;
$break-normal: 768px;
$break-medium: 992px;
$break-large: 1200px;

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,600i,700,700i,800,900");

body {
  font-size: 16px;
  line-height: 1.6em;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

section {
  padding: 60px 0;
  margin: 60px 0;
  @media screen and (max-width: $break-small) {
    padding: 30px 0;
    margin: 30px 0;
  }
}

header {
  background: #fff;
  .header__login {
    background: #57606b;
    width: 100%;
    padding: 10px 0;
    color: #ffffff;
    ul {
      padding: 0;
      margin: 0;
      text-align: right;
      li {
        list-style: none;
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid #fff;
        line-height: 14px;
        &:last-child {
          border-right: 0;
          padding-right: 0;
          padding-left: 5px;
        }
        a {
          color: #fff; 
        }
      }
    }
  }
  .header__main {
    padding: 15px 0;
  }
}

footer ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
  }
}

.is-stick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.navbar-light .navbar-nav .nav-link {
  padding: 0 35px;
}

.navbar {
  padding: 1.5rem 1rem;
}

.owl-carousel .owl-item {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  img {
    -webkit-transform-style: flat;
    transform-style: flat;
  }
}

#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;
  background-image: -webkit-gradient(linear, left top, right top, from(#4fc868), to(#37a1d9));
  background-image: -webkit-linear-gradient(left, #4fc868 0%, #37a1d9 100%);
  background-image: -o-linear-gradient(left, #4fc868 0%, #37a1d9 100%);
  background-image: linear-gradient(to right, #4fc868 0%, #37a1d9 100%);
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 5;
  border: 4px solid #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%
   
  }
  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.header__main {
  position: relative;
  .header__logo {
    margin-right: 0;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 15px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &.btn__demo {
      background-color: #4796db;
      padding: 10px 15px;
      color: #fff;
      font-weight: 600;
      margin-left: 15px;
      -webkit-box-shadow: 0 0 20px #4796db45;
      box-shadow: 0 0 20px #4796db45;
      text-align: center;
      &:hover {
        background-color: #298ce2;
      }
    }
  }
}

#headline-section {
  padding: 120px 0;
  position: relative;
  .container {
    max-width: 1020px;
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    font-weight: 600;
    small {
      display: block;
      font-size: 33px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
}

#main-hero-section {
  position: relative;
  padding: 195px 0 120px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4fc868), to(#37a1d9));
  background-image: -webkit-linear-gradient(left, #4fc868 0%, #37a1d9 100%);
  background-image: -o-linear-gradient(left, #4fc868 0%, #37a1d9 100%);
  background-image: linear-gradient(to right, #4fc868 0%, #37a1d9 100%);
  &:before {
    content: '';
    background-image: url("../images/border-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &:after {
    content: '';
    background-image: url("../images/dashed-line.png");
    background-repeat: repeat-y;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;
  }
  .desc-hero {
    position: relative;
    display: block;
    z-index: 2;
    h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 70px;
      color: #fff;
      small {
        font-weight: 400;
        font-size: 33px;
      }
    }
    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 33px;
      color: #fff;
    }
    a {
      font-size: 33px;
      color: #fff;
      border-bottom: 2px solid #fff;
      text-decoration: none;
      display: inline-block;
      margin-bottom: 30px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      &:hover {
        color: #faca2e;
        border-bottom: 2px solid #faca2e; 
      }
      &:focus {
        color: #faca2e;
        border-bottom: 2px solid #faca2e;
      }
    }
    p {
      font-size: 17px;
      color: #fff;
      margin-bottom: 0;
    }
  }
}

.main-title {
  display: block;
  text-align: center;
  margin-bottom: 80px;
  h2 {
    font-family: $primary-font;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  h3 {
    font-family: $primary-font;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  span {
    font-size: 28px;
    font-weight: 400;
    @media screen and (max-width: $break-normal) {
      font-size: 18px !important;
    }
  }
}

#goals-section {
  padding: 120px 0;
}

.desc-goals {
  margin-bottom: 30px;
  p {
    font-size: 20px;
  }
}

.accordion-goals {
  position: relative;
  .card {
    border: 0;
    border-radius: 0;
    .card-header {
      padding: 0;
      margin: 0 0 20px;
      border-radius: 0;
      position: relative;
      background-color: transparent;
      border-bottom: 0;
      .btn {
        color: #000;
        font-size: 27px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        padding: 0;
        margin: 0;
        width: 100%;
        position: relative;
        text-align: left;
        display: block;
        border: none;
        border-radius: 0;
        &:before {
          content: '';
          height: 3px;
          width: 100%;
          background-image: -webkit-gradient(linear, left top, right top, from(#4fc868), to(#37a1d9));
          background-image: -webkit-linear-gradient(left, #4fc868 0%, #37a1d9 100%);
          background-image: -o-linear-gradient(left, #4fc868 0%, #37a1d9 100%);
          background-image: linear-gradient(to right, #4fc868 0%, #37a1d9 100%);
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &.collapsed {
          &:before {
            background-image: -webkit-gradient(linear, left top, right top, from(#eaeaea), to(#eaeaea));
            background-image: -webkit-linear-gradient(left, #eaeaea 0%, #eaeaea 100%);
            background-image: -o-linear-gradient(left, #eaeaea 0%, #eaeaea 100%);
            background-image: linear-gradient(to right, #eaeaea 0%, #eaeaea 100%);
          }
        }
      }
    }
    .card-body {
      padding: 0;
      margin-bottom: 40px;
      p {
        font-size: 20px;
      }
      .recommended {
        margin-top: 20px;
        p {
          margin-bottom: 5px;
        }
        a {
          color: #0054a6;
          font-size: 20px;
        }
      }
    }
  }
}

#plan-section {
  width: 100%;
  padding: 120px 0;
  background-color: #38485c;
  .main-title {
    h2 {
      color: #fff;
    }
    span {
      color: #fff;
    }
  }
}

.nav-plan {
  display: block;
  a {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 12px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &.active {
      font-weight: 400;
      background-color: transparent !important;
      text-shadow: 1px 0 0 #fff;
      strong {
        font-weight: 400;
        background-color: transparent !important;
        text-shadow: 1px 0 0 #fff;
      }
      span {
        border: 1px solid #f1c15f;
        -webkit-box-shadow: inset 0 0 0 5px #f1c15f;
        box-shadow: inset 0 0 0 5px #f1c15f;
      }
    }
    &:hover {
      span {
        border: 1px solid #f1c15f;
        -webkit-box-shadow: inset 0 0 0 5px #f1c15f;
        box-shadow: inset 0 0 0 5px #f1c15f;
      }
    }
    span {
      font-size: 20px;
      width: 42px;
      height: 42px;
      display: inline-block;
      border: 1px solid #fff;
      text-align: center;
      line-height: 42px;
      border-radius: 50px;
      margin-right: 15px;
      -webkit-box-shadow: inset 0 0 0 0 #f1c15f;
      box-shadow: inset 0 0 0 0 #f1c15f;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
    strong {
      display: inline-block;
      font-weight: 400;
    }
  }
}

.tab-content-plan {
  position: relative;
  height: 100%;
  border-left: 2px solid #8398b2;
  padding: 80px;
  display: block;
  .desc-plan {
    position: relative;
    p {
      font-size: 20px;
      color: #fff;
    }
  }
}

.m-hide {
  display: block;
}

.d-hide {
  display: none;
}

#team-section {
  width: 100%;
  padding: 120px 0;
}

.team-slider {
  display: block;
  .team__slider {
    overflow: hidden;
    .slick-slider {
      padding: 0;
      margin-left: -20px;
      margin-right: -20px;
      .slick-slide {
        padding: 20px;
        outline: none;
        .team__item {
          position: relative;
          overflow: hidden;
          img {
            width: 100%;
          }
          .team__desc {
            h3 {
              font-family: 'Montserrat', sans-serif;
              font-size: 20px;
              color: #fff;
            }
            span {
              font-family: 'Montserrat', sans-serif;
              font-size: 16px;
              color: #fff;
            }
            a {
              font-family: 'Montserrat', sans-serif;
              font-size: 16px;
              color: #fff;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

.team-slider .team__slider .slick-slider .slick-slide .team__item, 
.team-slider .team__slider .slick-slider .slick-slide .team__item .team__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9912ceb;
  padding: 20px;
  -webkit-transform: translateY(280px);
  -ms-transform: translateY(280px);
  transform: translateY(280px);
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.team-slider .team__slider .slick-slider .slick-slide:hover .team__item .team__desc {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

.btn-schedule {
  background-color: #4796db;
  font-size: 18px;
  padding: 18px 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0 0 20px #4796db45;
  box-shadow: 0 0 20px #4796db45;
  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: #298ce2;
  }
}

footer {
  border-top: 1px solid #e6e6e6;
  .footer__top {
    padding: 100px 0;
    .widget.widget__about {
      display: block;
      a {
        max-width: 160px;
        display: block;
        margin-bottom: 40px;
      }
      p {
        font-size: 15px;
        font-weight: 600;
        i {
          width: 24px;
          color: #94a4af;
        }
      }
    }
    .widget.widget__link {
      position: relative;
      h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      ul {
        position: relative;
        li {
          display: block;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: #717171;
          }
        }
      }
    }
  }
  .footer__bottom {
    background-color: #f5e872;
    padding: 30px 0;
    .second__link {
      position: relative;
      li {
        display: inline-block;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
        a {
          font-size: 15px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          color: #000;
        }
      }
    }
    .social__link {
      position: relative;
      @media screen and (max-width: $break-medium)  {
        text-align: center;
      }
      li {
        display: inline-block;
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        a {
          font-size: 24px;
          color: #5e6860;
          -webkit-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          &:hover {
            color: #222222;
          }
        }
      }
    }
  }
}

.header__main,
.navbar {
  -webkit-transition: padding .3s ease;
  -o-transition: padding .3s ease;
  transition: padding .3s ease; }

.navbar {
  padding: 1.5rem 0; }

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  -webkit-box-shadow: 1px 0px 20px #0000000a;
  box-shadow: 1px 0px 20px #0000000a;
  .header__main {
    padding: 0 0;
  }
  .navbar {
    padding: .625rem 0;
  }
  .dropdown-menu {
    top: 45px;
  }
  .megamenu {
    .megamenu__content {
      top: 68px;
    }
  }
}

.fixed-header + #headline-section {
  padding: 213px 0 120px; }

.dropdown-menu {
  top: 45px;
  -webkit-box-shadow: 0 0 20px #0000000f;
  box-shadow: 0 0 20px #0000000f;
  border: none;
  padding: 0;
  margin: 0; }

.dropdown-item {
  font-size: 14px;
  padding: .625rem 1.5rem; }

.dropdown-item:active {
  background-color: #66b46f; }

.megamenu {
  display: block;
  .megamenu__content {
    width: 100%;
    min-width: 100%;
    padding: 40px;
    -webkit-box-shadow: 0 0 20px #0000000f;
    box-shadow: 0 0 20px #0000000f;
    border: none;
    top: 78px;
    .megamenu__box {
      h5 {
        font-size: 18px;
        font-weight: 700;
        display: block;
        padding-bottom: 10px;
        border-bottom: 1px solid #f6f6f6;
      }
      ol {
        padding: 0;
        margin: 20px 0;
        list-style: none;
        li {
          display: block;
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            font-size: 14px;
            display: block;
            color: #7b7b7b;
          }
        }
      }
    }
  }
}

.megamenu .megamenu__content .megamenu__box > a {
  display: inline-block;
  background: #4ec76a;
  color: #fff;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px #4ec76a70;
  box-shadow: 0 0 20px #4ec76a70;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.megamenu .megamenu__content .megamenu__box > a:hover {
  text-decoration: none;
  background: #51e473;
  -webkit-box-shadow: 0 0 20px #48e76d70;
  box-shadow: 0 0 20px #48e76d70;
}

.navbar-toggler {
  border-color: transparent !important;
  color: #66b46f !important;
  padding: .625rem 1rem;
  font-size: 1.5rem;
  outline: none !important;
}

.goals-img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; }
  .dropdown > .dropdown-menu,
  .megamenu > .dropdown-menu {
    display: block;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  .dropdown:hover > .dropdown-menu,
  .megamenu:hover > .dropdown-menu {
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .megamenu > .dropdown-toggle:active,
  .dropdown > .dropdown-toggle:active {
    pointer-events: none; } }

@media (max-width: 768px) {
  header {
    -webkit-box-shadow: 0 0 20px #00000008;
    box-shadow: 0 0 20px #00000008;
  }
  header .header__login {
    padding: 14px 0; }
  header .header__main {
    padding: 0 0; }
  header .header__login ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  header .header__login ul li {
    border-right: none;
    padding: 0 0; }
  .navbar,
  .fixed-header .navbar {
    padding: .625rem 0; }
  .navbar-collapse {
    margin-top: 20px; }
  .header__main .navbar-light .navbar-nav .nav-item {
    border-bottom: 1px solid #f6f6f6; }
  .header__main .navbar-light .navbar-nav .nav-item:last-child {
    border-bottom: 0 solid #f6f6f6; }
  .header__main .navbar-light .navbar-nav .nav-link {
    padding: 10px 0; }
  .header__main .navbar-light .navbar-nav .nav-link.btn__demo {
    margin-left: 0;
    margin-top: 15px; }
  .megamenu .megamenu__content {
    padding: 20px 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .megamenu .megamenu__content .megamenu__box {
    margin-bottom: 20px;
    text-align: center; }
  .megamenu .megamenu__content .megamenu__box ol {
    display: none; }
  .megamenu .megamenu__content .megamenu__box h5 {
    font-weight: 600; }
  .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .dropdown-item {
    font-size: 14px;
    padding: .625rem .625rem; }
  .fixed-header + #headline-section {
    padding: 143px 0 60px; }
  #headline-section,
  #goals-section,
  #plan-section,
  #team-section,
  footer .footer__top {
    padding: 60px 0; }
  #headline-section h1,
  .main-title h2 {
    font-size: 24px; }
  #main-hero-section {
    padding: 85px 0 60px; }
  #headline-section h1 small,
  #main-hero-section .desc-hero p {
    font-size: 14px; }
  #main-hero-section .desc-hero h1 {
    font-size: 28px; }
  .nav-plan a span {
    font-size: 14px;
    width: 32px;
    height: 32px;
    line-height: 32px; }
  .nav-plan a {
    font-size: 18px;
    margin-bottom: 6px; }
  #main-hero-section .desc-hero h3,
  #main-hero-section .desc-hero h1 small,
  #main-hero-section .desc-hero a {
    font-size: 18px; }
  .main-title {
    margin-bottom: 30px; }
  .main-title h2 {
    margin-bottom: 10px; }
  .main-title span {
    font-size: 16px; }
  .desc-goals {
    margin-top: 20px; }
  .desc-goals p,
  .accordion-goals .card .card-body p,
  .accordion-goals .card .card-body .recommended a,
  .tab-content-plan .desc-plan p {
    font-size: 14px; }
  .accordion-goals .card .card-header .btn {
    font-size: 18px;
    padding-bottom: 8px; }
  .btn-schedule {
    margin-top: 0; }
  .tab-content-plan {
    padding: 20px;
    margin-top: 30px;
    height: auto; }
  .tab-content-plan .desc-plan h5 {
    color: #fff; }
  footer .footer__top .widget.widget__about,
  footer .footer__top .widget.widget__link {
    margin-bottom: 40px; }
  footer .footer__top .widget.widget__about a {
    max-width: 200px;
    margin-bottom: 35px; } }

@media (max-width: 485px) {
  #main-hero-section::before {
    height: 25px; }
  .nav-plan {
    text-align: center; }
  .nav-plan .nav-link {
    display: inline-block;
    padding: 0; }
  .nav-plan a:hover span,
  .nav-plan a.active span {
    -webkit-box-shadow: inset 0 0 0 2px #f1c15f;
    box-shadow: inset 0 0 0 2px #f1c15f; }
  .m-hide {
    display: none !important; }
  .d-hide {
    display: block; }
  footer .footer__bottom .second__link {
    text-align: center;
    margin-bottom: 30px; } }

.space15 {
  height: 15px;
  display: block;
  width: 100%;
}

.space20 {
  height: 20px;
  display: block;
  width: 100%;
}

.space30 {
  height: 30px;
  display: block;
  width: 100%;
}

.space45 {
  height: 45px;
  display: block;
  width: 100%;
}

.space60 {
  height: 60px;
  display: block;
  width: 100%;
}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.title-md {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 1.7rem;
  line-height: 1.3em;
}

.title-xs {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1.3em;
}

.title-lg-lt {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  font-size: 43px;
  font-weight: 300;
  margin-bottom: 1.2rem;
  line-height: 1.2em;
  @media screen and (min-width: 62em) {
    font-size: 60px;
    margin-bottom: 1.1rem;
  }
}

.title-md {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  line-height: 1.3em;
}

.link-arrow {
  display: inline-block;
  width: 72px;
  vertical-align: top;
  position: relative;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  &:hover {
    text-decoration: none;
    right: -1px;
  }
}

.bg-grey-fixed {
  background-color: #f5f6f7;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.label-form {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.form-control--lg {
  height: 52px;
  border-radius: 0;
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
}

.btn--blue {
  background-color: #4194de;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 0;
  padding: 12px 25px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  &:hover {
    background-color: #5fcf72;
    color: white;
    text-decoration: none;
  }
}

.thanks-aside {
  padding: 2.5rem 0;
  position: relative;
  z-index: 1;
  @media screen and (min-width: 62em) {
    padding: 6rem 0;
  }
}

.thanks-logo {
  margin-bottom: 3rem;
  text-align: center;
  @media screen and (min-width: 62em) {
    margin-bottom: 5rem;  
  }
  img {
    max-width: 188px;
  }
}

.thanks-aside__content {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.aside-bg-bubble {
  position: relative;
  z-index: -1;
  display: none;
  @media screen and (min-width: 62em) {
    display: block;
  }
  img {
    width: 350px;
    position: absolute;
    right: -60px;
    top: -2rem;
  }
}

.thanks-rt {
  background-color: white;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: -100%;
    background-color: white;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.bg-bubble-yellow {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  background-image: url("../images/bg-bubble-yellow.png");
  background-size: 100px auto;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100px;
  height: 156px;
  @media screen and (min-width: 62em) {
    max-width: 200px;
    background-size: 200px auto;
  }
}

.thanks-rt {
  padding: 2.5rem 1.5rem;
  overflow: hidden;
  @media screen and (min-width: 62em) {
    padding: 6.7rem 2rem 6rem 7rem;
  }
}

.usernumbs__item {
  display: inline-block;
  position: relative;
  input[type="radio"] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  label {
    font-weight: 400;
    font-size: 14px;
    background-color: white;
    border: 1px solid #e9e9e9;
    padding: 9px 19px;
    display: inline-block;
    margin-bottom: 18px;
    cursor: pointer;
    margin-right: 2px;
    @media screen and (min-width: 62em) {
      margin-right: 17px;
    }
  }
}

:checked + label {
  border-color: #4194df;
  background-color: #e8f4ff;
}

.webinar-head {
  background-color: #f5f6f7;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media screen and (min-width: 62em) {
    min-height: 200px;
    padding-top: 2.5rem;
  }
}
.logo-xs {
  max-width: 144px;
}

.article-webinar {
  margin-bottom: 3rem;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      background: transparent url("../images/list-bg.png") 0 3px no-repeat;
      background-size: 20px auto;
      padding-left: 30px;
      margin-bottom: 13px;
    }
  }
}

.tenants {
  background: #fff url("../images/pattern.png") 0 0 repeat;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.tenan__item {
  margin: 0 1.3rem 0.7rem;
}

.speakers {
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 5;
  background: #4278a6;
  background: -moz-linear-gradient(top, #4278a6 0%, #2c4962 61%, #2c4962 100%);
  background: -webkit-linear-gradient(top, #4278a6 0%, #2c4962 61%, #2c4962 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#4278a6), color-stop(61%, #2c4962), to(#2c4962));
  background: -o-linear-gradient(top, #4278a6 0%, #2c4962 61%, #2c4962 100%);
  background: linear-gradient(to bottom, #4278a6 0%, #2c4962 61%, #2c4962 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4278a6', endColorstr='#2c4962',GradientType=0 );
  @media screen and (min-width: 62em) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.bg-circle-blue {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  max-width: 400px;
  height: 390px;
  background: transparent url("../images/bg-bubble-blue.png") 0 0 no-repeat;
  background-size: 400px auto;
}

.speaker__item {
  overflow: hidden;
  margin-bottom: 3rem;
  @media screen and (min-width: 62em) {
    padding-right: 4rem;
  }
}

.speaker__img {
  margin: 0 auto 10px;
  max-width: 127px;
  overflow: hidden;
  @media screen and (min-width: 48em) {
    margin: 0;
    margin-right: 25px;
    float: left;
  }
}

.speaker__desc {
  overflow: hidden;
}

.speaker__name {
  display: block;
  font-size: 21px;
  font-weight: 600;
  color: white;
  a {
    color: white;
    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}

.speaker__position {
  display: block;
  font-style: italic;
}

.spreatewo {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

.spreatewo__btns {
  margin-top: 2rem;
  .btn--iconx {
    min-width: 155px;
  }
}

.btn--iconx {
  border: 1px solid #8e8e8e;
  background-color: white;
  border-radius: 5px;
  margin: 0 5px 8px;
  text-transform: uppercase;
  font-size: 11px;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  &:hover {
    color: white;
    border-color: transparent;
    background: #66b46f;
    background: -moz-linear-gradient(left, #66b46f 0%, #4d91c9 100%);
    background: -webkit-linear-gradient(left, #66b46f 0%, #4d91c9 100%);
    background: -webkit-gradient(linear, left top, right top, from(#66b46f), to(#4d91c9));
    background: -o-linear-gradient(left, #66b46f 0%, #4d91c9 100%);
    background: linear-gradient(to right, #66b46f 0%, #4d91c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b46f', endColorstr='#4d91c9',GradientType=1 );
  }
  .btn--iconx__faws {
    margin-right: 3px;
  }
}

.frwebinar {
  background: #66b46f;
  background: -moz-linear-gradient(45deg, #66b46f 0%, #66b46f 58%, #4f94ba 100%);
  background: -webkit-linear-gradient(45deg, #66b46f 0%, #66b46f 58%, #4f94ba 100%);
  background: -o-linear-gradient(45deg, #66b46f 0%, #66b46f 58%, #4f94ba 100%);
  background: linear-gradient(45deg, #66b46f 0%, #66b46f 58%, #4f94ba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b46f', endColorstr='#4f94ba',GradientType=1 );
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
  small {
    color: white;
    font-weight: 300;
  }
  .form-group {
    margin-bottom: 1.3rem;
  }
  @media screen and (min-width: 62em) {
    max-width: 470px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -12rem;
  }
}

.frwebinar__in {
  padding: 2rem 1rem;
  @media screen and (min-width: 48em) {
    padding: 2rem;
  }
}

.frwebinar__label {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.7rem;
  font-family: 'Montserrat', sans-serif;
}

.frwebinar__head {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  @media screen and (min-width: 48em) {
    padding: 2rem;
  }
}

.form-control--lgwhite {
  border-radius: 0;
  border: 1px solid #e9e9e9;
  height: 48px;
}

.bg-circle-grey {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  background: transparent url("../images/bg-bubble-grey.png") 0 0 no-repeat;
  background-size: 230px auto;
  width: 100%;
  max-width: 230px;
  height: 328px;
  @media screen and (min-width: 62em) {
    display: block;
  }
}

.form-group-arrow {
  position: relative;
  .form-control {
    padding-right: 30px;
    .fa-caret-down {
      position: absolute;
      right: 13px;
      top: 15px;
      z-index: 0;
    }
  }
}

.instantly-nav {
  select {
    display: none;
    @media screen and (max-width: $break-medium) {
      display: inline-block;
    }
  }
  ul {
    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }
}

.secondary-bg {
  background-color: #fcfcfc
}

.main-title {
  display: block;
  span {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.6;
    a {
      color: #ff9253;
      text-decoration: underline;
    }
  }
}

.button-wz {
  padding: .75rem 1.5rem;
  font-size: 18px;
  display: inline-block;
  text-decoration: none !important;
  transition: $animated;
  &.dark--button--wz {
    color: $white;
  }
  &.light--button--wz {
    color: $black;
  }
  &.primary--button--wz {
    background-color: $primary-color;
  }
  &.primary--button--wz:hover {
    background-color: darken($primary-color, 10%);
  }
  &.secondary--button--wz {
    background-color: $secondary-color;
  }
  &.secondary--button--wz:hover {
    background-color: darken($secondary-color, 10%);
  }
  &.inherit--button--wz {
    background-color: $inherit-color;
  }
  &.inherit--button--wz:hover {
    background-color: darken($inherit-color, 10%);
  }
}

.ultimate-hero-section {
  position: relative;
  width: 100%;
  margin-top: 15px;
  .ultimate__image {
    max-width: 399px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    @media screen and (max-width: $break-small) {
      margin: 0 auto 30px;
    }
  }
  .ultimate__desc {
    display: block;
    .ultimate__desc--smalltext {
      font-size: 28px;
      @media screen and (max-width: $break-small) {
        font-size: 18px;
      }
    }
    h1 {
      font-size: 54px;
      color: $dark-blue;
      font-weight: 600;
      margin-bottom: 40px;

      @media screen and (max-width: 1199px) {
        font-size: 41px;
      } 

      @media screen and (max-width: $break-small) {
        font-size: 21px;
        margin-bottom: 20px;
        margin-top: 8px;
      }
    }
    p {
      font-size: 24px;
      color: $black;
      max-width: 550px;
      line-height: 1.4;
      margin-bottom: 30px;
      @media screen and (max-width: $break-small) {
        font-size: 16px;
      }
    }
  }
}

.instantly-connect-section {
  width: 100%;
  padding: 120px 0;
  @media screen and (max-width: $break-normal) {
    padding: 50px 0;
  }
}

.instantly-menu {
  padding: 0;
  margin: 0;
  li {
    position: relative;
    display: block;
    margin-bottom: 1em;
    padding-left: 30px;
    &.active {
      a {
        font-weight: 600;
        text-decoration: none;
        &:before {
          content: "\f061";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          position: absolute;
          font-size: 16px;
          width: 18px;
          height: 18px;
          line-height: 18px;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    a {
      color: #000;
      display: block;
    }
    @media screen and (max-width: 62em) {
      border-bottom: 1px solid #efefef;
      margin-bottom: 8px;
      padding-bottom: 5px;
    }
  }
}

.wz__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  .wz__item {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    transition: .3s ease-in-out;
    width: 31.5%;
    margin-bottom: 25px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 10px 50px -5px rgba(45,62,80,.15);
      -webkit-transform: scale(1.014);
      transform: scale(1.014);
      transition: .3s ease-in-out;
    }
    .wz__content {
      padding: 19px;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      transition: -webkit-filter .3s;
      transition: filter .3s;
      transition: filter .3s,-webkit-filter .3s;
      h2 {
        font-size: 1.24em;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: .02em;
        margin: 0;
        color: #475761;
        a {
          color: #000
        }
      }
      p {
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
    .wz__image {
      height: 130px;
      background-color: #fff;
      margin: 0;
      position: relative;
      overflow: hidden;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      transition: -webkit-filter .3s;
      transition: filter .3s;
      transition: filter .3s,-webkit-filter .3s;
      .wz__link {
        width: 100%;
        display: block;
        height: 100%;
        img {
          max-width: 76px;
          margin: auto;
          display: block;
          position: absolute;
          top: 0;
          left: 20px;
          right: auto;
          bottom: 0;
          object-fit: contain;
        }
      }
    }
    @media screen and (min-width: 481px) and (max-width: $break-medium) {
      width: 48.5%;
    }
    @media screen and (max-width: $break-small) {
      width: 100%;
    }
  }
}

.workzone-service-section {
  margin: 0;
  background: rgba(53,77,108,1);
  background: -moz-linear-gradient(left, rgba(53,77,108,1) 0%, rgba(53,77,108,1) 50%, rgba(55,149,232,1) 50%, rgba(55,149,232,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,77,108,1)), color-stop(50%, rgba(53,77,108,1)), color-stop(50%, rgba(55,149,232,1)), color-stop(100%, rgba(55,149,232,1)));
  background: -webkit-linear-gradient(left, rgba(53,77,108,1) 0%, rgba(53,77,108,1) 50%, rgba(55,149,232,1) 50%, rgba(55,149,232,1) 100%);
  background: -o-linear-gradient(left, rgba(53,77,108,1) 0%, rgba(53,77,108,1) 50%, rgba(55,149,232,1) 50%, rgba(55,149,232,1) 100%);
  background: -ms-linear-gradient(left, rgba(53,77,108,1) 0%, rgba(53,77,108,1) 50%, rgba(55,149,232,1) 50%, rgba(55,149,232,1) 100%);
  background: linear-gradient(to right, rgba(53,77,108,1) 0%, rgba(53,77,108,1) 50%, rgba(55,149,232,1) 50%, rgba(55,149,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#354d6c', endColorstr='#3795e8', GradientType=1 );
  @media screen and (max-width: $break-medium) {
    background: none !important;
  }
  .service__box {
    @media screen and (max-width: $break-medium) {
      &:nth-of-type(1) {
        background-color: #354d6c;
      }
      &:nth-of-type(2) {
        background-color: #3795e8;
      }
    }
  }
}

.service__box {
  position: relative;
  padding: 3rem;
  @media screen and (max-width: $break-medium) {
    padding: 3rem 1rem;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    color: $white
  }
  p {
    font-size: 21px;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 20px;
    a {
      color: #ff9253;
      text-decoration: underline;
    }
    @media screen and (max-width: $break-medium) {
      font-size: 18px;
    }
  }
}

.helping__wrap {
  position: relative;
  width: 100%;
  background-color: #f17b3c;
  padding: 2rem;

  @media screen and (max-width: $break-medium) { 
    padding-bottom: 0;
  }
  .helping__image {
    position: relative;
    top: 32px;
    @media screen and (max-width: $break-medium) {
      top: 0;
      margin-top: 30px;
    }
    &:before {
      position: absolute;
      top: -90px;
      z-index: 1;
      right: 80px;
      background-image: url("../images/circle-setting.png");
      width: 180px;
      height: 180px;
      background-size: cover;
    }

    @media screen and (min-width: $break-small) {
      &:before { 
        content: '';
      }
    }
    img {
      position: relative;
      z-index: 2;
    }
  }
  .helping__desc {
    padding: 2rem;
    @media screen and (max-width: $break-medium) {
      padding: 0;
    }
    h2 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 30px;
      color: #ffffff;
    }
    p {
      font-size: 21px;
      line-height: 1.6;
      color: #ffffff;
      @media screen and (max-width: $break-medium) {
        font-size: 18px;
      }
    }
  }
}

.arrow__link {
  display: block;
  max-width: 80px;
  position: absolute;
  bottom: 50px;
  z-index: 2;
  left: -15px;
  @media screen and (max-width: $break-small) {
    max-width: 42px;
  }
}

.functionality-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width: $break-medium) {
    padding-top: 0;
    padding-bottom: 0;
  }
  &:before {
    content: '';
    width: 640px;
    background-image: url("../images/developer-api.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }
  p {
    font-size: 20px;
    line-height: 1.6;
    @media screen and (max-width: $break-small) {
      font-size: 18px;
    }
  }
}


/*Nav to dropdown*/
.instantly-menuWrap {
  margin-bottom: 20px;
}

// .instantly-menuWrap  ul     { display: none; }
.instantly-menuWrap  select { 
  display: block;

    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #e4e4e4;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.02);
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

@media (min-width: 62em) {
  // .instantly-menuWrap select {
  //   display: none;
  // }

  // .instantly-menuWrap  ul {
  //   display: block;
  // }
}

.helping-workzone-section.section {
  @media screen and (max-width: 62em) {
    padding:0 ;
  }
}

.text-underline {
  text-decoration: underline;
}

/*Tabs*/
.js-tabContent{
  display: none;
  &.active {
    display: block;
  }
}